<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69562610814-a7h9qg8tep436ofc1m2h0ntcm9efisin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69562610814-a7h9qg8tep436ofc1m2h0ntcm9efisin</string>
	<key>API_KEY</key>
	<string>AIzaSyCkKYNyodp2y1RBuB5HRlnH5yibGrFTdtk</string>
	<key>GCM_SENDER_ID</key>
	<string>69562610814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.A7Studio.Backpack</string>
	<key>PROJECT_ID</key>
	<string>backpackcloud-fe599</string>
	<key>STORAGE_BUCKET</key>
	<string>backpackcloud-fe599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69562610814:ios:63164accecbf0fb9</string>
	<key>DATABASE_URL</key>
	<string>https://backpackcloud-fe599.firebaseio.com</string>
</dict>
</plist>